node_modules
.DS_Store
dist
*.local
index.html
.remote-assets
components.d.ts

.DS_Store
.eslintcache
.idea
.nuxt
.output
.slidev
.vite-inspect
*-export
*.local
*.pdf
assets/demo
components.d.ts
composable-vue-cn
dist
dist-ssr
docs/.vitepress/@slidev
docs/.vitepress/cache
node_modules
slides-export.md
*slides-export.pptx